{% extends 'base.html' %}
{% load static %}
{% block title %} Tirian Trains {% endblock %}
{% block content %}
<header>
  <nav class="navbar p-3 px-4" style="background: #000301; width:100%; display: flex;">
    <div class="container-fluid">
        <div class="navbar-header mx-3">
            <a href="{% url 'tickets:homepage' %}">
                <img class="img-responsive" src="{% static 'tirian-logo.png' %}" width="50" height="50">
            </a>
        </div>
  </nav>
</header>

<div class="container-fluid p-5 has-bg-img"
  style="color: #e6efe4; background-image: url('static/home-bg.png'); background-size: cover; width: 100%; height:100vh;">
<h1 style="color: #e6efe4; text-align: center; font-family: 'Noto Serif', serif;">>Book a Ticket</h1>
<h3 style="font-family: 'Noto Serif', serif;">Logged in as User {{ user.customer_id }}: {{ user.given_name }} {{ user.middle_initial }} {{user.last_name }}</h3>
<h2 style="font-family: 'Noto Serif', serif;">Your Current Trips:</h2>
<div style="padding:15px;" class="border-white p-3 bg-info bg-opacity-10 border border-info rounded-3">
Total Cost: {{ totalCost }} Lion Coins
<table>
<tr>
  <th>Trip #</th>
  <th>Origin</th>
  <th>Destination</th>
  <th>Departure</th>
  <th>Arrival</th>
  <th>Duration</th>
  <th>Cost</th>
  <th>Cancel</th>
</tr>
{% for ticket in currentTickets %}
  <tr>
    <td>{{ ticket.trip.trip_id }}</td>
    <td>{{ ticket.trip.route.start_station.name }}</td>
    <td>{{ ticket.trip.route.end_station.name }}</td>
    <!-- ticket.trip.departure|date:"M d, Y H:i" -->
    <td>{{ ticket.trip.departure|date:"M d, Y H:i" }}</td>
    <td>{{ ticket.trip.arrival|date:"M d, Y H:i" }}</td>
    <td>{{ ticket.trip.get_duration }}</td>
    <td>{{ ticket.trip.route.price }} Lion Coins</td>
    <td>
    <form action="/book-ticket" method='POST'>
      {% csrf_token %}
      <input type="hidden" id="remove" name="remove" value="remove">
      <input type="hidden" id="customer_id" name="customer_id" value={{ user.customer_id }}>
      <input type="hidden" id="trip_id" name="trip_id" value={{ ticket.trip.trip_id }}>
      <input type="hidden" id="ticket_id" name="ticket_id" value={{ ticket.ticket_id }}>
      <input type="submit" value="Cancel Trip">
      <br><br>
    </form>
    </td>
  </tr>  
{% endfor %}
</table>
</div>

<h2 style="font-family: 'Noto Serif', serif;">Available Trips</h2>
<div style="padding:15px;" class="border-white p-3 bg-info bg-opacity-10 border border-info rounded-3">
<table>
  <tr>
    <th>Trip #</th>
    <th>Origin</th>
    <th>Destination</th>
    <th>Departure</th>
    <th>Arrival</th>
    <th>Duration</th>
    <th>Cost</th>
    <th>Book Ticket</th>
  </tr> 
{% for trip in Trips %}
  <tr>
    <td>{{ trip.trip_id }}</td>
    <td>{{ trip.route.start_station.name }}</td>
    <td>{{ trip.route.end_station.name }}</td>
    <td>{{ trip.departure|date:"M d, Y H:i" }}</td>
    <td>{{ trip.arrival|date:"M d, Y H:i" }}</td>
    <td>{{ trip.get_duration }}</td>
    <td>{{ trip.route.price }} Lion Coins</td>
    <td>
      <form action="/book-ticket" method='POST'>
        {% csrf_token %} 
        <input type="hidden" id="customer_id" name="customer_id" value={{ user.customer_id }}>
        <input type="hidden" id="trip_id" name="trip_id" value={{ trip.trip_id }}>
        <input type="submit" value="Book">
        <br><br>
      </form>
    </td>    
  </tr>
{% endfor %}
</table>
</div>

<div class="container-fluid footer" style="background:#000301; width: 100%;">
  <footer class="py-2">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="{% url 'tickets:homepage' %}" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="{% url 'tickets:passenger-sign-in' %}" class="nav-link px-2 text-muted">Book</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
      </ul>
      <p class="text-center text-muted">© 2022 Tirian Trains, Inc</p>
  </footer>
</div>

{% endblock %}
