{% extends 'base.html' %}
{% load static %}
{% block title %} Confirmation Screen {% endblock %}
{% block content %}

<h1>Confirm Booking</h1>
<p>Please ensure all the trip details are correct
<h2>Trip Details:</h2>
 <p>
    From {{ trip.route.start_station.name }}<br>
    To {{ trip.route.end_station.name }}<br>
    {{ trip.departure|date:"M d, Y H:i" }} - {{ trip.arrival|date:"M d, Y H:i" }} ({{ trip.get_duration }})<br>
  </p>
  <p>
    {{ trip.route.price }} Lion Coins
  </p>
  <p>
    Passenger #{{ user.customer_id }}: {{ user.given_name }} {{ user.middle_initial }} {{user.last_name }}
  </p>
  <form action="/confirm-booking" method='POST'>
      {% csrf_token %} 
      <input type="hidden" id="customer_id" name="customer_id" value={{ user.customer_id }}>
      <input type="hidden" id="trip_id" name="trip_id" value={{ trip.trip_id }}>
      <input type="submit" value="Confirm Booking">
    </form>
{% endblock %}
